CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
CTestTestfile.cmake
Testing

RunITModel
RunITModelOld
TestITModel
TestITModelOld

*.o

*.exe

*.so
*.dll

*.a
*.lib

build/debug32/

build/itm32/ITMConfig.cmake
build/itm32/RunITModel
build/itm32/RunITModelOld
build/itm32/TestITModel
build/itm32/TestITModelOld
build/itm32/Profile.txt

build/debug64/

build/itm64/ITMConfig.cmake
build/itm64/RunITModel
build/itm64/RunITModelOld
build/itm64/TestITModel
build/itm64/TestITModelOld
build/itm64/Profile.txt

itm_cpp.tar.bz2

build/itm32/obj
build/itm32/libITM.so
build/itm32/RunITM

build/itm64/obj
build/itm64/libITM.so
build/itm64/RunITM

itm.tar.bz2

