CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
CTestTestfile.cmake
Testing

qerfi
RunLongleyRice
RunLongleyRiceOld
TestLongleyRice
TestLongleyRiceOld

ITMDLL_BAD.cpp

RunLongleyRice
RunITMDLL
libLongleyRice.so
libITMDLL.so

build/debug32/

build/itm32/LongleyRiceConfig.cmake
build/itm32/RunLongleyRice
build/itm32/RunITMDLL
build/itm32/TestLongleyRice
build/itm32/TestLongleyRiceOld
build/itm32/Profile.txt
build/itm32/libLongleyRice.so
build/itm32/libITMDLL.so

build/debug64/

build/itm64/LongleyRiceConfig.cmake
build/itm64/RunLongleyRice
build/itm64/RunITMDLL
build/itm64/TestLongleyRice
build/itm64/TestLongleyRiceOld
build/itm64/Profile.txt
build/itm64/libLongleyRice.so
build/itm64/libITMDLL.so
